# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
staticfiles/
media/
db.sqlite3

# Virtual env
venv/
.venv/

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.local
*.env
